* {
  margin: 0;
  padding: 0;
  background-image: "";
  background-color: "";
}

body {
    background-image: url('eycie.jpg');
    background-size: cover; /* Optional: Adjust the size of the background image */
    background-repeat: no-repeat; /* Optional: Prevent image repetition */
}

.title {
    display: flex;
    width: 100%;
    margin: 0;
    background-color: gray;
    text-decoration: none;
    justify-content: space-evenly;
}

#name {
    margin: 5px;
    font-weight: bolder;
}

#page {
    margin: 5px;
    text-decoration: none;
}

#page:hover {
    transform: scale(1.1);
}

.home {
    display: flex;
    margin: 10px;
    justify-content: center;
}

#home {
    border-bottom:6px solid #ccc;
}

.head-offer {
    display: flex;
    margin: 10px;
    justify-content: center;
}

#eycie {
    margin: 15px;
    text-indent: 30px;
    text-align: justify;
}

#head-offer {
    border-bottom:6px solid #ccc;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
}

#offers {
    margin: 15px;
}

#desc {
    margin: 15px;
}

#in-game {
    background-color: #f2f2f2;
}

#home-design {
    background-color: #d9d9d9;
}

#products {
    background-color: #bfbfbf;
}

#midman {
    background-color: #a6a6a6;
}

#more {
    background-color: #8c8c8c;
}

.head-about {
    display: flex;
    margin: 10px;
    justify-content: center;
}

#head-about {
    border-bottom:6px solid #ccc;
}

#aboutme {
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3); /* Box shadow for images */
    overflow: hidden; /* Hide overflow content */
    margin-top: 10px;
}

#aboutme #aboutme-container {
    margin: 10px;
}

#aboutme img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#aboutme #aboutme-desc {
    margin-bottom: 10px;
}

#aboutme #contactButton {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #ccc;
}

#aboutme #contactButton:hover {
    transform: scale(1.1);
}